<div class="price-plan">
  <div class="title-wrapper">
    <span class="title">Flexible Pricing Plans</span>
  </div>
  <div class="plan-wrapper">
    <div class="plan">
      <span class="left-tag">Standard</span>
      <div class="price-wrapper">
        <span class="price">$45.99</span>
        <span>Monthly Package</span>
      </div>
      <div class="options">
        <span class="option">Social Media Marketing</span>
        <span class="option">3000 keywords</span>
        <span class="option">One way spannk building</span>
        <span class="option">5 Free Optimization</span>
        <span class="option">2 Free Publications</span>
      </div>
      <div class="bottom-tag">
        <span>Choose Plan</span>
        <div class="arrow">
          =>
        </div>
      </div>
    </div>
    <div class="plan">
      <span class="left-tag">Standard</span>
      <div class="price-wrapper">
        <span class="price">$45.99</span>
        <span>Monthly Package</span>
      </div>
      <div class="options">
        <span class="option">Social Media Marketing</span>
        <span class="option">3000 keywords</span>
        <span class="option">One way spannk building</span>
        <span class="option">5 Free Optimization</span>
        <span class="option">2 Free Publications</span>
      </div>
      <div class="bottom-tag">
        <span>Choose Plan</span>
        <div class="arrow">
          =>
        </div>
      </div>
    </div>
    <div class="plan">
      <span class="left-tag">Standard</span>
      <div class="price-wrapper">
        <span class="price">$45.99</span>
        <span>Monthly Package</span>
      </div>
      <div class="options">
        <span class="option">Social Media Marketing</span>
        <span class="option">3000 keywords</span>
        <span class="option">One way spannk building</span>
        <span class="option">5 Free Optimization</span>
        <span class="option">2 Free Publications</span>
      </div>
      <div class="bottom-tag">
        <span>Choose Plan</span>
        <div class="arrow">
          =>
        </div>
      </div>
    </div>
  </div>
</div>