<footer>
  <div class="items">
    <div class="about">
      <app-logo></app-logo>
      <span class="about-text footer-text">
        Digital Agency is an Advertising agency that meet the changing needs of marketing in 1 Agency with new technology.
      </span>
      <div class="social-wrapper">
        <span class="title">Follow Us</span>
        <div class="social">
          <span class="item">T</span>
          <span class="item">In</span>
          <span class="item">F</span>
          <span class="item">Ln</span>
        </div>
      </div>
    </div>
    <div class="links">
      <h5>Useful Links</h5>
      <ul>
        <li class="footer-text link">About Us</li>
        <li class="footer-text link">Work</li>
        <li class="footer-text link">Service</li>
        <li class="footer-text link">Our Story</li>
        <li class="footer-text link">Our Archievement</li>
      </ul>
    </div>
    <div class="links">
      <h5>Supports</h5>
      <ul>
        <li class="footer-text link">Case Study</li>
        <li class="footer-text link">Resources</li>
        <li class="footer-text link">Work Process</li>
        <li class="footer-text link">FAQ</li>
        <li class="footer-text link">Terms & Condition</li>
      </ul>
    </div>
    <div class="contact">
      <h5>Lets Talk</h5>
      <span class="footer-text link">Have You Need any Discussion</span>
      <form action="">
        <input class="email" type="email" placeholder="Email" required />
        <input class="submit" type="submit" name="" id="" value="Send" />
      </form>
    </div>
  </div>
  <div class="copywrite">
    <span>
      &copy; Copyright 2020 All right reservered by Emmanuel
    </span>
  </div>
</footer>