<div class="testimonies">
  <div class="illustration">Illustration</div>
  <div class="title-wrapper">
    <div class="indicator"></div>
    <span class="title">What Say <br> Our Customers</span>
  </div>
  <div class="testimony-wrapper">
    <div class="testimony">
      <div class="quote">
        <span>""</span>
      </div>
      <span class="text">BM Digital agency is excellent live chat, and they also have lots of experts team. I am really satisfied to getting their awesome services.</span>
      <div class="user">
        <span class="name">Olajumoke</span>
        <span class="title">HR Ha-shem</span>
      </div>
      <div class="company">
        <img src="" alt="" />
        <span>Company</span>
      </div>
    </div>
    <div class="action">
      <button class="prev btn"><</button>
      <button class="next btn">></button>
    </div>
  </div>
</div>