<div class="services">
  <div class="title-wrapper">
    <div class="title">
      <div class="indicator"></div>
      <span>Our Services</span>
    </div>
    <span class="action">
      <span class="underlay"></span>
      <span class="text">View all Services</span>
    </span>
  </div>
  <div class="service-wrapper">
    <div class="service">
      <div class="icon">Icon</div>
      <span class="title">Title</span>
      <span class="description">Description</span>
    </div>
    <div class="service">
      <div class="icon">Icon</div>
      <span class="title">Title</span>
      <span class="description">Description</span>
    </div>
    <div class="service">
      <div class="icon">Icon</div>
      <span class="title">Title</span>
      <span class="description">Description</span>
    </div>
  </div>
</div>