<div class="testimonials">
  <div class="testimonial">
    <div class="wrapper">
      <div class="icon-wrapper">Icon</div>
      <span class="count">453+</span>
      <span class="title">Happy Customer</span>
    </div>
    <div class="divider"></div>
  </div>
  <div class="testimonial">
    <div class="wrapper">
      <div class="icon-wrapper">Icon</div>
      <span class="count">453+</span>
      <span class="title">Happy Customer</span>
    </div>
    <div class="divider"></div>
  </div>
  <div class="testimonial">
    <div class="wrapper">
      <div class="icon-wrapper">Icon</div>
      <span class="count">453+</span>
      <span class="title">Happy Customer</span>
    </div>
    <div class="divider"></div>
  </div>
  <div class="testimonial">
    <div class="wrapper">
      <div class="icon-wrapper">Icon</div>
      <span class="count">453+</span>
      <span class="title">Happy Customer</span>
    </div>
  </div>
</div>