
.container {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDF5FF;
    height: 80px;
    border-width: 0;
    outline: none !important;
  }
}