
.container {
  max-width: 100vw;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDF5FF;
    height: 80px;
    border-width: 0;
    outline: none !important;
    padding: 0 80px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    header {
      padding: 0 20px;
    }
  }
}
